* {
    margin: 0;
    padding: 0;
}

.socials-main-content{
    margin-left: 6rem; 
    margin-top: 3.5rem; 
    padding: 2rem;
    min-height: calc(100vh - 3.5rem);
}

.socials-title {
    font-size: 1.75rem;
    font-weight: 500;
    background: linear-gradient(to right, rgba(182, 94, 186, 1), rgba(97, 95, 211, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    line-height: 1.4;
}

.platforms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    width: 60rem;
    margin-left: 1rem;
}

.platform-card {
    background: white;
    border: 0.094rem solid #e5e7eb;
    border-radius: 0.75rem;
    padding: 1.25rem;
    transition: all 0.2s ease;
    flex: 1;
    min-width: 11.25rem;
}

.platform-card:hover {
    border-color: rgba(50, 49, 109, 0.3);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.platform-header {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
}

.platform-icon {
    width: 1.75rem;
    height: 1.75rem;
}

.platform-name {
    font-size: 1rem;
    font-weight: 500;
    color: #1f2937;
}

.profile-add-button{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: none;
    background: #312e81;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.profile-add-button:hover {
    background: #1e1b4b;
    transform: scale(1.01);
}

.profile-add-button:active {
    transform: scale(0.95);
}

.profile-add-button-icon{
    width: 1.25rem;
    height: 1.25rem;
}


