.footer {
    background-color: rgba(49, 46, 140, 0.9);
    color: white;
    padding: 3rem 2rem 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer-content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    margin-bottom: 2rem;
}

.footer-left{
    margin-top: -1rem;
    padding-left: 2rem;
}

.footer-left img{
    width: 13rem;
}

.footer-icon{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-icon img{
    width: 1.6rem;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-column a{
    color: #97CEFF;
}

.footer-heading {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    opacity: 0.9;
}

.footer-link:hover {
    opacity: 1;
}

.footer-bottom {
    height: 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.02rem solid #97CEFF;
    border-bottom: 0.02rem solid #97CEFF;
}

.social-links {
    display: flex;
    gap: 2rem;
}

.social-text {
    font-size: 0.85rem;
    opacity: 0.8;
}

.contact-info {
    display: flex;
    gap: 2rem;
}

.contact-text {
    font-size: 0.9rem;
}

.copyright {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    font-size: 0.875rem;
    opacity: 0.8;
}