* {
    margin: 0;
    padding: 0;
}

.admin-dashboard-main-content{
    margin-left: 6rem; 
    margin-top: 3.5rem; 
    padding: 2rem;
    min-height: calc(100vh - 3.5rem);
}

.admindashboard-middle-container{
    margin-top: 1.5rem;
    display: flex;
    gap: 3.4rem;
    height: 23rem;
}

.admin-card-container{
    width: 21rem;
    border-radius: 0.5rem;
    border: 0.1px solid #e8e8e8;
    margin-left: 2.5rem;
}

.latest-card-container {
    background: white;
    padding: 1rem;
    border-radius: 0.6rem;
    border: 0.1px solid #e8e8e8;
    width: 11rem;
    height: 21rem;
}

.last-details-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.latest-user-info{
    display: flex;
    gap: 1rem;
}

.latest-avatar{
    width: 2rem;
    height: 2rem;
}

.latest-user-name{
    font-size: 0.9rem;
}

.latest-user-email{
    font-size: 0.7rem;
}