.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0.8rem;
    margin-top: 1rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-logo img{
    width: 7rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-link {
    color: #111827;
    text-decoration: none;
    font-weight: 500;
}

.nav-link.active {
    border-bottom: 2px solid #2769EC;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-login {
    background: #D7EBFD;
    color: black;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
}

.btn-register {
    background: rgba(39, 105, 236, 0.6);
    color: black;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
}

.feature-dropdown-container {
    position: relative;
}

.dropdown-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    font-size: 1rem;
    color: #111827;
    font-weight: 500;
    cursor: pointer;
}

.arrow-icon {
    width: 1rem;
    margin-top: 0.2rem;
    transition: transform 0.3s ease;
}

.arrow-icon.open {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -60%;
    margin-top: 0.5rem;
    background: white;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    min-width: 12.5rem;
    z-index: 1000;
    overflow: hidden;
}

.dropdown-item {
    display: block;
    padding: 0.75rem 1.25rem;
    color: #111827;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.85rem;
}
