* {
    margin: 0;
    padding: 0;
}

.contact-us-header{
    width: 100%;
    background-color: aqua;
    background-image: url('../../../assets/map.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.contact-form-container {
    width: 100%;
    max-width: 25rem;
    padding: 2.7rem 2rem;
    background: white;
    border-radius: 0.5rem;
}

.contact-form-header {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}

.contact-form-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #1a1a1a;
}

.touch-text {
    color: #312E8C;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.contact-form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-form-group label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #1a1a1a;
}

.contact-form-input, .contact-form-textarea {
    width: 91.5%;
    padding: 0.70rem 1rem;
    font-size: 0.875rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    outline: none;
    transition: border-color 0.2s;
}

.contact-form-textarea{
    resize: none;
}

.contact-form-input:focus, .contact-form-textarea:focus {
    border-color: #312E8C;
}

.contact-form-input::placeholder, .contact-form-textarea::placeholder {
    color: #968B8B;
}

.contact-submit-button {
    align-self: flex-end;
    padding: 0.5rem 1.1rem;
    background-color: #2769BE;
    color: white;
    font-size: 0.8rem;
    font-weight: 450;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 0.625rem;
}

.contact-submit-button:hover {
    background-color: #1e40af;
}

.contact-submit-button:active {
    transform: scale(0.98);
}
